@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-navbar: #141d28;
    --color-white: #ffffff;
    --color-blue: #0073ff;
}

* {
    margin: 0px;
    padding: 0px;
}

#contents {
    padding-top: 160px;
}

#intro #greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 30px 0px;
    color: #010101;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 60px;
    position: relative;
}

#intro #name-and-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#intro #name-and-pic #name {
    display: inline-block;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    color:#010101;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
}

#intro #name-and-pic #img-parent {
    display: inline-block;
    margin: 0px 30px 15px 0px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 100px rgb(100, 100, 100);
}

#intro #name-and-pic img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: translate(0%, +5%);
    transition: transform 0.5s ease; 
    
}

#intro #name-and-pic img:hover {
    transform: translateY(+10%) scale(1.1);
}

#navbar {
    background-color: var(--color-navbar);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    top: 0;
    position: fixed;
    z-index: 9999;
}

#navbar .logo {
    display: inline-block;
    margin-left: 10px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#navbar .logo img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: translate(0%, +5%);
    transition: all 0.3s ease;
}

#navbar .logo img:hover {
    cursor: pointer;
    filter: brightness(0.6);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 60px;
}

#navbar ul li {
    list-style: none;
    width: 120px;
    padding: 10px 30px;
    text-align: center;
    position: relative;

}

#navbar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.3s;
}

#navbar ul li a:hover{
    color: var(--color-blue);
}

.dropdown-1 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 目前来说做不到fadeout 因为这个的实现必须是在display非none的情况下 
也就是说要使用visibility: hidden 但是没有办法把二级菜单分开 所以
使用hidden会导致整个一级菜单栏被挤到上面去

md我已经尽力了 */

/* @keyframes fadeOut{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */

#navbar ul li:hover .dropdown-1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;

}

/* #navbar ul li:not(:hover) .dropdown-1 {
    animation: fadeOut 0.3s forwards;
    animation-delay: 0.5s;
} */

#navbar ul li:hover .dropdown-1 li {
    margin: 15px;
}

.dropdown-2 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

#navbar ul li:hover .dropdown-2 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;
}

#navbar ul li:hover .dropdown-2 li {
    margin: 10px;
}

#homepage-introduction p{
    margin: 10px 30px 10px 30px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#general-info {
    padding: 30px 30px;
    margin-bottom: 3vh;
}

#general-info h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#general-info ul li{
    margin-top: 20px;
    list-style: none;
}

#general-info ul li p {
    padding: 7px 0;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

audio {
    display: none;
}

.audio-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;      /* 可根据需要调小 */
    height: 16px;     /* 可根据需要调小 */
    padding: 0;
    margin: 0 4px;
    border: none;
    background: none;
    cursor: pointer;
}

.audio-btn::before {
    content: '▶︎';
    font-size: 16px;
    line-height: 1;
  
}

.audio-btn.playing::before {
    content: '❚❚';
}

#homepage-introduction .voiceover {
    font-size: 16px;
  }


