@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-navbar: #141d28;
    --color-white: #ffffff;
    --color-blue: #0073ff;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');
}

#navbar {
    background-color: var(--color-navbar);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    top: 0;
    position: fixed;
    z-index: 9999;
}

#navbar .logo {
    display: inline-block;
    margin-left: 10px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#navbar .logo img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

#navbar .logo img:hover {
    cursor: pointer;
    filter: brightness(0.6);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 60px;
}

#navbar ul li {
    list-style: none;
    width: 120px;
    padding: 10px 30px;
    text-align: center;
    position: relative;

}

#navbar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.3s;
}

#navbar ul li a:hover{
    color: var(--color-blue);
}

.dropdown-1 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 目前来说做不到fadeout 因为这个的实现必须是在display非none的情况下 
也就是说要使用visibility: hidden 但是没有办法把二级菜单分开 所以
使用hidden会导致整个一级菜单栏被挤到上面去

md我已经尽力了 */

/* @keyframes fadeOut{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */

#navbar ul li:hover .dropdown-1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;

}

/* #navbar ul li:not(:hover) .dropdown-1 {
    animation: fadeOut 0.3s forwards;
    animation-delay: 0.5s;
} */

#navbar ul li:hover .dropdown-1 li {
    margin: 15px;
}

.dropdown-2 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

#navbar ul li:hover .dropdown-2 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;
}

#navbar ul li:hover .dropdown-2 li {
    margin: 10px;
}

#contents {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

#contents .title {
    padding-left: 30px;
    margin: 30px 0px 18px 0px;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

#contents ul {
    padding: 0 35px;
}

#contents li {
    list-style: None;
    margin-right: 10px;
}

#contents .left {
    display: flex;
    align-items: center;
}

/* current school */
#contents #current-school {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 18px 0px;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

#contents #c-logo {
    display: inline-block;
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#contents #c-logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#contents #c-more-info p {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 150;
    line-height: 1.5;
}

/* high school */
#contents #high-school {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 18px 0px;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

#contents #h-logo {
    display: inline-block;
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#contents #h-logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#contents #h-more-info p {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 150;
    line-height: 1.5;
}

/* junior high */
#contents #junior-high {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 18px 0px;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

#contents #j-logo {
    display: inline-block;
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#contents #j-logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#contents #j-more-info p {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 150;
    line-height: 1.5;
}

/* other */
#contents #other {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 18px 0px;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}