@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');

:root {
  --color-navbar: #141d28;
  --color-white:  #ffffff;
  --color-blue:   #0073ff;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');
}

#navbar {
    background-color: var(--color-navbar);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    top: 0;
    position: fixed;
    z-index: 9999;
}

#navbar .logo {
    display: inline-block;
    margin-left: 10px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#navbar .logo img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

#navbar .logo img:hover {
    cursor: pointer;
    filter: brightness(0.6);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 60px;
}

#navbar ul li {
    list-style: none;
    width: 120px;
    padding: 10px 30px;
    text-align: center;
    position: relative;

}

#navbar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.3s;
}

#navbar ul li a:hover{
    color: var(--color-blue);
}

.dropdown-1 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 目前来说做不到fadeout 因为这个的实现必须是在display非none的情况下 
也就是说要使用visibility: hidden 但是没有办法把二级菜单分开 所以
使用hidden会导致整个一级菜单栏被挤到上面去

md我已经尽力了 */

/* @keyframes fadeOut{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */

#navbar ul li:hover .dropdown-1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;

}

/* #navbar ul li:not(:hover) .dropdown-1 {
    animation: fadeOut 0.3s forwards;
    animation-delay: 0.5s;
} */

#navbar ul li:hover .dropdown-1 li {
    margin: 15px;
}

.dropdown-2 {
    display: none;
    opacity: 0;
    transition: fadeIn 2s ease-in-out;
}

#navbar ul li:hover .dropdown-2 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-navbar);
    animation: fadeIn 0.3s forwards;
}

#navbar ul li:hover .dropdown-2 li {
    margin: 10px;
}

#contents {
    font-family: "Raleway", sans-serif;
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin: 30px 0px 18px 0px;
}

#contents .title {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding-bottom: 40px;
}

.contact-details {
    font-size: 25px;
    line-height: 1.6;
}

.contact-details p {
    margin-bottom: 10px;
}

.contact-details a {
    color: var(--color-blue);
    text-decoration: none;
}

.contact-details a:visited {
    color: #551A8B;
}

.contact-details a:hover {
    text-decoration: underline;
}

.contact-details a:active {
    color: var(--color-navbar);
}

.note {
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;
}

/* for mobile devices */
@media (max-width: 600px) {
  #contents {
    padding: 25vh 20px 20px;
  }
  #navbar ul {
    flex-wrap: wrap;
  }
}
